# (1)Importing Libaries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sng

# (2)Walkthrough the data set

In [2]:
df=pd.read_csv("Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
df.shape

(200, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

# (3) Feature Engineering

### (3.1) Age Column

In [ ]:
df['AGE_GROUP']=df['Age'].apply(lambda x:'18-25' if x<26 else '26-40' if 25<x<41 else '41-55' if 40<x<56 else '55+' if 55<x else 0 )
del df['Age']

In [ ]:
df.head()

### (3.2) Annual Income Column

In [ ]:
df['Annual Income (k$)'].unique()

In [ ]:
df['Annual Income (k$)'].nunique()

In [ ]:
plt.hist(df['Annual Income (k$)'],color='blue',bins=8,edgecolor='black',alpha=0.8)

In [ ]:
df['Income_Range']=df['Annual Income (k$)'].apply(lambda x:'15-25' if x<26 else '26-50' if 25<x<51 else '51-80' if 50<x<81 else '81-100' if 80<x<101 else '100+' if 100<x else 0)

del df['Annual Income (k$)']

In [ ]:
df.head()

### (3.3) Spending Score (1-100) Column

In [ ]:
df['Spending Score (1-100)'].unique()

In [ ]:
df['Spending Score (1-100)'].max()

In [ ]:
df['Spending Score (1-100)'].min()

In [ ]:
df['Score_Range']=df['Spending Score (1-100)'].apply(lambda x:'01-10' if x<11 else '11-30' if 10<x<31 else '31-60' if 30<x<61 else '61-80' if 60<x<81 else '81+' if 80<x else 0)

del df['Spending Score (1-100)']

In [ ]:
df.head()

# (4) Analyze the Genre Column

In [ ]:
df['Genre'].unique()

In [ ]:
df.groupby('Genre').size().plot(kind="pie",autopct="%.2f%%",figsize=(6,6),wedgeprops={"edgecolor":"black","linewidth":3},title="PIE_CHART")

In [ ]:
df.groupby('Genre').size().plot(kind="bar",figsize=(6,6),title="PIE_CHART")

# (5) Analyze the AGE_GROUP Column

In [ ]:
df['AGE_GROUP'].unique()

In [ ]:
df.groupby('AGE_GROUP').size().sort_values().plot(kind='bar')

In [ ]:
sng.set(rc={'figure.figsize':(10,5)})
sng.countplot(x=df['AGE_GROUP'],hue=df['Genre'])

In [ ]:
df.groupby('AGE_GROUP').size().sort_values().plot(kind='pie',autopct='%1.2f%%',wedgeprops={'edgecolor':'black','linewidth':3,'antialiased':True})

# (6) Analyze  Income_Range Column

In [ ]:
df['Income_Range'].unique()

In [ ]:
df.groupby('Income_Range').size().sort_values().plot(kind='bar')

In [ ]:
df.groupby('Income_Range').size().sort_values().plot(kind='pie',autopct='%1.2f%%',wedgeprops={'edgecolor':'black','linewidth':3,'antialiased':True})

In [ ]:
sng.set(rc={'figure.figsize':(10,5)})
sng.countplot(x=df['Income_Range'],hue=df['Genre'])

In [ ]:
sng.set(rc={'figure.figsize':(10,5)})
sng.countplot(x=df['Income_Range'],hue=df['AGE_GROUP'])

# (7) Analyze Score_Range Column

In [ ]:
df['Score_Range'].unique()

In [ ]:
df.groupby('Score_Range').size().sort_values().plot(kind='bar')

In [ ]:
df.groupby('Score_Range').size().sort_values().plot(kind='pie',autopct='%1.2f%%',wedgeprops={'edgecolor':'black','linewidth':3,'antialiased':True})

In [ ]:
sng.set(rc={'figure.figsize':(10,5)})
sng.countplot(x=df['Score_Range'],hue=df['Genre'])

In [ ]:
sng.set(rc={'figure.figsize':(10,5)})
sng.countplot(x=df['Score_Range'],hue=df['AGE_GROUP'])